@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

/* Aplicando a fonte Marcellus globalmente */
* {
  font-family: "Marcellus", serif !important;
  font-weight: 400;
  font-style: normal;
}
a{

  text-decoration: none !important;
  color: white;
}

a:hover {
  color: #b1bdca !important; /* Cor de fundo ao passar o mouse (cinza claro) */
}
