@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

/* Aplicando a fonte Marcellus globalmente */
* {
  font-family: "Marcellus", serif !important;
  font-weight: 400;
  font-style: normal;
}